*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

body{
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header{
    margin-bottom:30px;
    color: #2d3436;

}

main{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

h2{
    color: #27ae60;
    margin-bottom: 20px;
    text-align: center;
}
 #form {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 input{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
 }

 input:focus {
    border-color: #27ae60;
 }

 button{
    padding: 12px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;

 }
 button:hover {
    background-color: #219150;
}
select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

select:focus {
    border-color: #27ae60;
}

/* aqui é o estilo do extrato */
#historico {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

#lista-transacoes {
    list-style: none; /* Tira aquelas bolinhas feias da lista */
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#lista-transacoes li {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Empurra o nome pra esquerda e valor pra direita */
    border-left: 5px solid gray; /* Borda padrão */
}

/* Classes dinâmicas que o JS vai usar */
.item-entrada {
    border-left-color: #27ae60 !important; /* Verde */
}

.item-saida {
    border-left-color: #e74c3c !important; /* Vermelho */
}